body{
    background-color: black;
}
:root{
    --a: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.left{
    width: 37vw;
    padding: 4px;    
}

.right{
    width: 75vw;
    margin: 7px;
    position: relative;
}

.home{
    padding: 15px;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 23px;
    list-style: none;
    padding-top: 20px;
    font-weight: 600;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: 600;
    align-items: center;
}
.heading img{
    width: 23px;
}

.library{
    min-height: 75vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
}

.footer a{
    color: grey;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(13, 12, 12, 0.739);
}

.header > *{
    padding: 20px;
}

.spotify-playlists{
    padding: 15px;
}

.spotify-playlists h1
{
    padding: 15px;
}

.cardContainer{
    margin: 9px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
}

.card{
    width: 150px;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(27, 25, 25);
    position: relative;
    transition: all .9s;

}

.card:hover{
    background-color: rgb(39, 37, 37);
    cursor: pointer;
    --a: 1;
}

.card > *{
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 7px;
}

.play{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 113px;
    right: 21px;
    opacity: var(--a);
    transition: all 1s ease-out;
}
.button > *{
    margin: 0 12px;
}

.signupbtn{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(227, 219, 219);
    font-weight: bold;  
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.signupbtn:hover{
    font-size: 1rem;
    color: white;
    font-size: 17px;
}
.loginbtn{
    background-color: rgb(255, 255, 255);
    color: rgb(1, 1, 1);
    font-size: 14px;
    font-weight: 790;  
    border: 2px solid white;
    border-radius: 50px;
    width: 52px;
    height: 35px;
    cursor: pointer;
}
.loginbtn:hover{
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.97);
    border: 1px solid rgba(233, 224, 224, 0.928);
}


.playbar{
    position: fixed;
    bottom: 14px;
    background-color: rgb(38, 40, 38);
    width: 57%;
    padding: 12px;
    border-radius: 10px;
    min-height: 50px;
}

.songbutton{
    display: flex;
    justify-content: center;
    gap: 16px;

}
.songList{
    height: 370px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.songList ul{
      padding: 0 12px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}


.songList .info{
    font-size: 16px;
    width: 300px;
}

.info div{
    word-break: break-all;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar{
    height: 5px;
    width: 97%;
    background-color:  rgb(185, 176, 176);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: rgb(237, 229, 229);
    position: relative;
    bottom: 3.4px;
    left: 0%;
    transition: left 0.5s;
}

.songbutton img{
    cursor: pointer;
}

.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.songinfo{
    width: 240px;
}

.songinfo, .songtime{
    padding: 0 12px;

}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}
.abovebar{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.close{
    display: none;
}

@media (max-width: 900px) {
    .left{
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
        background-color: black;
        height: 100%;
        padding: 0;
    }

    .left .close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 27px;
    }
    .close{
        display: block;
    }

    .songinfo{
        width: auto;
    }

    .songList{
        height: 520px;
    }

    .right{
        width: 100%;
        margin: 0;
    }
    .playbar{
        width: calc(100vw - 60px);
    }
    
    .hamburger{
        display: block;
    }

    .card{
        width: 40vw;
    }
    .cardContainer{
        margin: 0;
        justify-content: center;
    }
    .cardContainer{
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 22vh;
    }

    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }
    .playbar{
        right: 25px;
    }
    
    .left{
        position: fixed;
        top: 0;
    }
}

@media (max-width: 500px) {
    .card{
        width: 100%;
    } 
    
    .left{
        position: fixed;
        top: 0;
    }
}

@media (max-width: 350px) {
    .header>*{
        padding: 5px;
    }

    .button>* {
        margin: 0 6px;
    }

    .spotify-playlists h1{
        padding: 4px;
    }

    .left{
        position: fixed;
        top: 0;
    }
}

