*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

.main{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/df6621a3-890c-4ca0-b698-90bd5152f3d1/20a59be7-7062-4991-bca0-805e9a7f2716/IN-en-20240107-trifectadaily-perspective_alpha_website_medium.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1650px,100vw);
    height: 100vh;
    position: relative;
}

.main .box{
    height: 100vh;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    top: 0%;
    background-color: black;
}

nav{
    max-width: 79vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 14vh;
}

.logo{
    width: 12.25rem;
    height: 2.5rem;
    color: rgb(229,9,20);
    fill: currentColor;
    display: block;
    position: relative;
    z-index: 10 ;
}

nav button{
    position: relative;
    z-index: 10 ;
}

.hero{
    height: 81vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10 ;
    font-family: sans-serif;
    gap: 10px;
    padding: 16px;
}

.hero1{
    font-weight: 900;
    font-size: 2.6em;
    text-align: center;
}

.hero2{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.hero3{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}
.btn1{
    height: 5vh;
    width: 10vw;
    border-radius: 0.25rem;
    font-family: sans-serif;
    background-color: inherit;
    border: 1px solid white;
    color: white;
    cursor: pointer;

}
.btn2{
    background-color: rgb(229,9,20);
    color: white;
    height: 5vh;
    width: 5vw;
    border-radius: 0.25rem;
    border: none;
    font-family: sans-serif;
    margin: 40px;
    cursor: pointer;
}
.btn{
    background-color: rgb(229,9,20);
    color: white;
    height: 8vh;
    width: 10vw;
    border-radius: 0.25rem;
    border: none;
    font-family: sans-serif;
    margin: 40px;
    font-family: sans-serif;
    font-size: 19px;
}
.text{
    height: 8vh;
    width: 27vw;
    border-radius: 0.25rem;
    border: 2px solid rgb(112, 109, 109);
    background-color: inherit;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}

.separation{
    height: 7px;
    background-color: rgb(49, 47, 47);
    position: relative;
    z-index: 20px;
}

.page{
    color: white;
    background-color: black;
    height: 71vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 10 ;
}

.txt1{
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 600;
    
}
.first{
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secimg{
    position: relative;
}
.secimg img{
    width: 401px;
    position: relative;
    z-index: 10;
}
.v2{
    position: absolute;
    top: 70px;
    right: 0;
    width: 347px;
}
section.first{
    padding: 10px;
    height: 75vh;
    overflow: hidden;
}
section.first > div{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    gap: 20px;
    padding: 34px 0;
    
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
section.first> div :nth-child(2){
    font-size: 25px;
}

.v1{
    margin: 10px;
    position: absolute;
    top: 50px;
    right: 70px;
    width: 250px;
}

.faq h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 900;
}

.faq{
    color: white;
    padding: 60px;
    font-family: sans-serif;
    
}
.faqbox:hover{
    transition: all;
    background-color: #414141;

}
.faqbox{
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d; 
    padding: 26px;
    max-width: 70vw;
    margin: 9px auto;
    font-size: 25px;
    cursor: pointer;
}

footer{
    color: #c9bfbf;
    padding: 50px;
    margin: auto;
    font-family: sans-serif;
    font-size: 0.875rem;
}
footer span{
    margin: 100px;   
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 80vw;
    margin: auto;   
}
.footer a{
    color: #c9bfbf;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
}

select{
    height: 5vh;
    width: 10vw;
    margin: auto;
    text-align: center;
    color: white;
    background-color: #1615150e;
    border-radius: 6px;
}

@media  screen and (max-width: 1300px) {
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secimg img{
        width: 385px;
    }
    .secimg .v2{
        width: 335px;
    }

    .hero1{
        font-size: 32px;
    }

    .hero2{
        font-size: 18px;
    }    

    .hero3{
        font-size: 18px;
    }    
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}

@media screen and (max-width: 1000px){
    .logo{
        width: 9.25rem;
        height: 2rem;
    }
    .btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 119px;
        height: 40px;
    }
    .btn1{
        width: 70px;
    }
    .btn2{
        width: 50px;
    }
    .text{
        height: 5vh;
        width: 64vw;
        border-radius: 0.25rem;
        border: 2px solid rgb(112, 109, 109);
        background-color: inherit;
        color: white;
        font-family: sans-serif;
        font-size: 18px;
    }
}